.vscode/*
debug
debug.test
coverage.txt
coverage.html
coverage.out
.DS_Store


*.crt
*.key
*.csr
*.srl
confs/otel_file_exporter.json

# go-pry debug stuff
.main.gopry

# goreleaser distribution folder.
/dist/

# binary
otero

# debug stuff
debug.test
otero.test
otero.prof
otero.prof

confs/tls